<!DOCTYPE html>
<meta charset="utf-8">
<style>
    div {
        display: block;
        position: relative;
        padding-left: 120px;
        /* adjust if necessary */
    }

    label>span {
        position: relative;
        left: 0;
    }
</style>
<title>Input test</title>

<body>
    <p>

    </p>
</body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    var qr = ["q1", "q2", "q1234"];

    function new_window() {
        var body = d3.select(document.body)
        var div = body.selectAll(".query")
            .data(qr)
            .enter()
            .append('div')
            .style("width", 400)
        var label = div
            .append('label')
            .attr("for", function (d) { return d; })
            .style("display", "inline-block")            
            .style("text-align", "left")
            .text(function (d) {
                var fill = "";
                for (var i = 0; i < 6 - d.length; i++) fill += "-";
                return d + fill + "   : ";
            })
        var span = div
            .append("span")
            .attr("id", function (d) { return d + "v"; })
            .style("position", "absolute")
            .style("left", "180px")
            .style("color", "blue")
            .text(" **")

        var range = div
            .append("input")
            .attr("type", "range")
            .attr("id", function (d) { return d; })
            .attr("min", 0)
            .attr("max", 100)
            .style("position", "absolute")
            .style("left", "200px")
            .on("input", function (d) {
                update(body, d, +this.value);
            })
        return body;
    }

    var b = new_window();
    for (var t = 0; t < qr.length; t++) update(b, qr[t], 50);


    function update(body, val, p) {
        body.select("#" + val + "v").text(p);
        body.select("#" + val).property("value", p);
    }


</script>